* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aqua;
    margin-left: 35px;
    font-family: sans-serif, Arial, Helvetica;
    color: rgb(243, 6, 203);
}

h1{
    text-align: center;
    margin-top: 25px;
    padding-bottom: 50px;
    text-decoration: underline;
    color: red;
    font-weight: bold;
    font-size: 50px;
}

h1:hover{
cursor: pointer;
}

h2{
    color: blue;
    padding: 30px 30px;
    text-decoration: underline;
    font-size: 35px;
}

img{
    height: 300px;
    margin: 30px;
    border-radius: 30px;
}

p, li{
    margin-left: 30px; 
}

li{
    list-style: none;
}

#Connect{
    margin-bottom: 50px;
}